.carti{
  background-color: #F8F9FA;
}

.headercarrinho img{
    max-width: 180px;
    width: 100%;
    height: 150px;
    margin-left: 5%;
    object-fit: cover;
    cursor: pointer;
}

.back{
    background-color: #F8F9FA;
}

.titulo{
  text-align: center;
  font-weight: lighter;
}

.titulo h1{
  font-size: 60px;
  font-family: 'PT Serif', serif;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 100%;
  max-width: 700px;
  height: 250px;
  display: flex;
  background-color: white;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout{
  margin-top: 60px;
  margin-left: 5%;
}

.checkout button {
  width: 180px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.checkout button:hover{
  background-color: rgb(46, 37, 37);
}

.footer{
  background-color: #a3aab2;
   width: 100%;
   height: 300px;
   margin-top: 3%;
}



.footer h1{
  display: inline-block;
  padding: 60px 90px;
  margin-top: 3%;
  margin-left: 4%;
}

.divisoria{
  border-top: 1px solid black; 
  margin-top: 10px; 
}

.footer h5{
  color: rgb(106, 104, 102);
  margin-top: 20px;
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  .footer h1{
      font-size: 12px;
      margin-left: -13%;
  }
}